<html>
  <head>
    <title>Mod1</title>
    <style>
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	/* width: 35% */
	}
    </style>
  </head>
  <body>
    <h1 align="center">Transmitiendo desde Rapsberrypi 2B</h1>
    <img id="bg" class="center" src="{{ url_for('video_feed') }}">
  </body>
</html>
